# Arquivos de Sistema e IDE
###########################
.DS_Store
.idea/
.vscode/

# Ambientes Virtuais Python
##########################
# Exclui a pasta do ambiente virtual (venv), pois ela é recriada.
venv/
.venv/
env/

# Arquivos de Configuração Sensíveis (Chaves e Tokens)
#######################################################
# NUNCA envie o arquivo .env, pois ele contém chaves de API.
.env

# Arquivos de Lógica de Roteamento/Personalização
##################################################
# Exclui o arquivo que contém a lógica de roteamento/instruções,
# pois o conteúdo das instruções vem do .env e o arquivo pode ser gerado/variável.
negocio/servico/a_instrucoes.py

# Arquivos de Compilação e Cache do Python
###########################################
# Arquivos de cache de bytecode
__pycache__/
# Pastas de cache geradas pelo Python
*.pyc
*.pyo
*~$

# Logs
#######
# Exclui logs de runtime se eles estiverem sendo salvos em um arquivo.
*.log